/*=======================================
>>>>>>>>  VARIABLES  <<<<<<<<
========================================*/

$primary: #EB008B;
$secondary: #ED458B;
$light-grey: #D0D2D3;
$mid-grey: #929497;
$dark-grey: #404041;
$white: #fff;
$off-white: #E6E7E8;

/*=======================================
>>>>>>>>  GENERAL STYLES  <<<<<<<<
========================================*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

main {
  max-width: 1000px;
  padding: 0 20px;
  margin: auto;
}

/*=======================================
>>>>>>>>  HEADER  <<<<<<<<
========================================*/

header {
  font-family: 'Open Sans', sans-serif;
  height: 125px;
  background-color: $dark-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

h1 {
  margin: 0;
  font-size: 4.5em;
  letter-spacing: 1px;
  color: $off-white;
  line-height: .8;
  font-weight: 300;
}

.bold-color {
  color: $secondary;
  font-weight: 700;
}

/*=======================================
>>>>>>>>  INPUTS  <<<<<<<<
========================================*/

.input {
  margin-bottom: 80px;
}

input {
  font-size: 2.2em;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  color: $dark-grey;
  padding: 2px 10px;
  border: 3px solid $light-grey;
  margin-bottom: 50px;
  transition: all 200ms;
  width: 100%;

  &.input-pulse {
    animation: pulse-input 1s ease-in-out infinite;
  }

  &:focus {
    color: $dark-grey;
    border: 3px solid $primary;
    outline: none;
  }

  &::placeholder {
    color: $light-grey;
  }
}

.minmax-inputs {
  display: flex;
  justify-content: space-between;
}

.attention {
  animation: pulse-input 1s ease-in-out 2;
}

.minmax-input-container {
  position: relative;
  width: 46%;

  label { // <- Is this nesting OK?
    position: absolute;
    top: -20%;
    color: $primary;
    font-size: 1.2em;
    letter-spacing: 2px;
  }
}

/*=======================================
>>>>>>>>  BUTTONS  <<<<<<<<
========================================*/

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

button {
  font-family: 'Open Sans', sans-serif;
  display: block;
  border-radius: 30px;
  width: 45%;
  border: none;
  color: $white;
  padding: 8px 0px 10px;
  font-size: 2em;
  background-color: $mid-grey;
  font-weight: 300;
  border: 3px solid transparent;
  transition: all 200ms;

// Is this nesting OK?
  &:hover {
    background-color: $primary;
    cursor: pointer;
    outline: none;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: translateY(2px);
  }

  &.button-pulse {
    animation: pulse 1s infinite;
    animation-fill-mode: backwards;
  }

  &.disabled {
    background-color: $light-grey;

    &:hover {
      cursor: not-allowed;
    }

    &:active {
      transform: none;
    }
  }
}

#error-message {
  text-align: center;
  color: $primary;
  position: absolute;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
  top: 21.7%;
  font-size: 1.2em;
  font-weight: bold;
  width: 100%;
}

/*=======================================
>>>>>>>>  RESULT SECTION  <<<<<<<<
========================================*/

.result {
  width: 100%;
  text-align: center;
  color: $dark-grey;
  margin-bottom: 1em;

  button { // <- Is this nesting OK?
    width: 100%;
    font-size: 1.5em;
    margin-top: 1em;
  }
}

h2 {
  font-weight: 300;
}

h3 {
  margin: 0px;
  font-size: 2em;
  font-weight: 300;
}

#message-after {
  line-height: 1.5;
}

#message-after span.bold-text {
  color: $primary;
}

#reset-btn:hover:not([disabled]) {
  background-color: adjust-hue($primary, -66%);

}

#guessed-number {
  font-size: 13em;
  color: $primary;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  margin: 60px auto;

  &.success {
    font-weight: bold;
  }
}

/*=======================================
>>>>>>>>  ANIMATION KEYFRAMES  <<<<<<<<
========================================*/

@keyframes pulse {
  0% {
    background-color: $mid-grey;
  }

  50% {
    background-color: $primary;
  }

  100% {
    background-color: $mid-grey;
  }
}

@keyframes pulse-text {
  0% {
    color: #000;
  }

  50% {
    color: $primary;
  }

  100% {
    color: #000;
  }
}

@keyframes pulse-input {
  0% {
    box-shadow: 0px 0px 10px transparent;
    border-color: $light-grey;
  }

  50% {
    box-shadow: 0px 0px 10px $primary;
    border-color: $primary;
  }

  100% {
    box-shadow: 0px 0px 10px transparent;
    border-color: $light-grey;
  }
}

/*=======================================
>>>>>>>>  MEDIA QUERIES  <<<<<<<<
========================================*/

@media (max-width: 800px) {
  #guessed-number {
    font-size: 10em;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 10px;
  }

  #guessed-number {
    font-size: 9em;
  }
}

@media (max-width: 485px) {
  h1 {
    font-size: 3.6em;
  }

  #error-message {
    font-size: 1em;
  }

  #guessed-number {
    font-size: 8em;
  }

}
