$header-pink: #ED458B;
$pink: #EB008B;
$light-grey: #D0D2D3;
$mid-grey: #929497;
$dark-grey: #404041;
$white: #fff;
$off-white: #E6E7E8;


* {
  box-sizing: border-box;
}

body {
  padding-bottom: 30px;
}

header {
  font-family: 'Open Sans', sans-serif;
  height: 135px;
  background-color: $dark-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 4.5em;
  letter-spacing: 1px;
  color: $off-white;
  line-height: .8;
  font-weight: 300;
}

.pink {
  color: $header-pink;
  font-weight: 700;
}

main {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  padding: 0px 20px;
  margin: auto;
  font-weight: 300;

  .inputs {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    .minmax {
      display: flex;
      justify-content: space-between;

      input.attention {
        animation: pulse-input 1s ease-in-out 3;
      }

      label {
        position: absolute;
        top: 36px;
        color: $pink;
        font-size: 1.2em;
        letter-spacing: 2px;
      }
    }

    .minmax-input-container {
      position: relative;
      width: 45%;
    }

    #error-message {
      text-align: center;
      color: $pink;
      position: absolute;
      margin: 0;
      left: 50%;
      transform: translateX(-50%);
      top: 142px;
      font-size: 1.2em;
      font-weight: bold;
      width: 100%;
    }

    input {
      display: block;
      margin: 60px 0 0;
      font-size: 2.2em;
      font-family: 'Open Sans', sans-serif;
      padding: 2px 10px;
      color: $dark-grey;
      border: 3px solid $light-grey;
      width: 100%;
      font-weight: 300;
      line-height: 1.5;
      transition: all 200ms;

      &#min-number,
      &#max-number {
        // width: 45%;

      }

      &::placeholder {
        color: $light-grey;
      }

      &[type="number"]::-webkit-outer-spin-button,
      &[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &[type="number"] {
        -moz-appearance: textfield;
      }

      &:focus {
        outline: none;
        border: 3px solid $pink;
        color: $dark-grey;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 50px auto 80px;
  }

  button {
    font-family: 'Open Sans', sans-serif;
    display: block;
    border-radius: 30px;
    width: 45%;
    border: none;
    color: $white;
    padding: 8px 0px 10px;
    font-size: 2em;
    background-color: $mid-grey;
    font-weight: 300;
    border: 3px solid transparent;
    transition: all 200ms;

    &:hover {
      background-color: $pink;
      cursor: pointer;
      outline: none;
    }

    &:focus {
      outline: none;

      // border: 3px solid $pink;

    }

    &:active {
      transform: translateY(2px);
    }

    &.play-again {
      animation: pulse 1.5s infinite;
      animation-fill-mode: backwards;

      // animation-iteration-count: 5;

    }

    &.disabled {
      background-color: $light-grey;

      &:hover {
        cursor: not-allowed;
      }

      &:active {
        transform: none;
      }
    }
  }

  .result {
    width: 100%;
    text-align: center;
    color: $dark-grey;

    #message-before.attention {
      animation: pulse-text 1s ease-in-out 3;
    }

    #message-after {
      line-height: 1.5;
    }

    p {
      margin: 0px;
      font-size: 2em;
    }

    button {
      display: inline;
      width: 100%;
      margin-top: 80px;
      font-size: 1.5em;
    }
  }
}

#guessed-number {
  font-size: 15em;
  color: $pink;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;

  &.success {
    font-weight: bold;
  }
}

@keyframes pulse {
  0% {
    background-color: $mid-grey;
  }

  50% {
    background-color: $pink;
  }

  100% {
    background-color: $mid-grey;
  }
}

@keyframes pulse-text {
  0% {
    color: #000;
  }

  50% {
    color: $pink;
  }

  100% {
    color: #000;
  }
}

@keyframes pulse-input {
  0% {
    box-shadow: 0px 0px 10px transparent;
    border-color: $light-grey;
  }

  50% {
    box-shadow: 0px 0px 10px $pink;
    border-color: $pink;
  }

  100% {
    box-shadow: 0px 0px 10px transparent;
    border-color: $light-grey;
  }
}
